/* SweetaUIKit  -  Toast
     Copyright (c) 2015 Shota Shimazu 

     This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Mixins 
@mixin toast-color($color) {
      @content;
      background: $color;
}



.toast {

}