// Depth

@mixin make-depth($depth, $index) {
       .depth-#{$depth} {
             z-index: $index;
       }
}


@include make-depth(-1, -10);
@include make-depth(1, -1);
@include make-depth(2, 10);
@include make-depth(3, 20);

         