/*
     SweetUIKit - Utilities
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Variables ------------------------------



.clearfix {
    @include clearfix();
}



/* Set default appearance
   Ex.
        if you want to hide content,
        add code like following.
       <div aspartame="hidden">
*/
*[appearance="hidden"] {
     display: none;
}

*[appearance="visible"] {
     display: block;
}
