/*
   SweetUiKit Grid System - v0.0.2

   Copyright (c) 2014-2016 Shota Shimazu
   Licensed under the MIT, see LICENSE for detail.
*/


// Variables
// --------------------------------------------

// Divide width
$default-width: 100%;
$default-margin: 10px;




// Mixins
// --------------------------------------------
@mixin column-base($size-name, $col) {
        .col-#{$size-name}-#{$col} {
               width: $default-width / $col;
         }
}


@mixin column-media($name, $col, $min, $max) {
      @include media($min, $max) {
           @include column-base($name, $col);
      }
}


@mixin column($device, $col) {
      @if $device == sp {
            @if $col <= $col-sp-max {
                 @include column-media(sm, $col, none, $disp-size-sp);
            } @else {
                 @include column-media(sm, $col-sp-max, none, $disp-size-sp);
            }
       }
       @if $device == tab {
            @if $col <= $col-tab-max {
                   @include column-media(md, $col, $disp-size-sp, $disp-size-tab);
             } @else {
                   @include column-media(md, $col-tab-max, $disp-size-sp, $disp-size-tab);
             }
       }
       @if $device == desktop {
            @if $col <= $col-desktop-max {
                   @include column-media(lg, $col, $disp-size-desktop, none);
             } @else {
                   @include column-media(lg, $col-desktop-max, $disp-size-desktop, none);
             }
       }
       @if $device == widescreen {
            @if $col <= $col-lx-max {
                   // Min
                   @include column-media(lx, $col, $disp-size-lg-screen, none);
             } @else {
                   @include column-media(lx, $col-lx-max, $disp-size-lg-screen, none);
             }
       }
}





// Styles
// -------------------------------------------
.container {
     overflow: hidden;
}

.row {
     display: flex;
     display: -webkit-flex;
}
