.container {
     overflow: hidden;
}

.row {
     display: flex;
     display: -webkit-flex;
}


.col-1 {
     width: 100%;
}
.col-2 {
     width: 50%;
}
.col-3 {
     width:  33.33333333333333%;
}
.col-4 {
     width: 25%;
}

.col-6 {
     width: 16.66666666666667%;
}

.col-12 {
     width: 8.333333333333333%;
}
