/*
      SweetUIKit - v0.0.2 - Panels
      Copyright (c) 2015 Shota Shimazu

      This program is freely distributed under the MIT, see LICENSE for detail.
*/


.panel {
     text-align: center;
     border-radius: 5px;
}
.panel-title {
     padding: inherit;
}
.panel-text {
      text-align: left;
}
