/* 
     SweetUIKit - v0.0.2 - Buttons
     Copyright (c) 2014-2016 Shota Shimazu
     
     This program is freely distributed under the MIT, see LICENSE for detail:
*/


// Variables
// ------------------------------------------------------------

// Sizes
$btn-width: 143px;
$btn-height: 47px;
$btn-outline-width: 2px;
$btn-width-wide: 95%;
$btn-font-size: 17px;
$btn-circle-size: 75px;
// Radius
$btn-radius: 5px;
$btn-round-radius: 28px;


// Mixins
// ----------------------------------------------------------
@mixin color($color-name, $color, $dark-color) {
    .btn-#{$color-name} {
        background: $color;
        &:hover {
            background: $dark-color;
        }
     }
}


@mixin outline-color($color-name, $color, $dark-color) {
    .btn-outline-#{$color-name} {
        color: $color;
        border-color: $color;
        &:hover {
            background: $dark-color;
            border-color: $dark-color;
        }
     }
}



@mixin cube-button($color-name, $dark-color) {
    .btn-cube.btn-#{$color-name} {
        border-bottom: solid 3px $dark-color;
    }
}





// Common styles
// ---------------------------------------------------------

button { // --Remove default appearance -- //
     border: none;
     @include vendor(appearance, none);
}


.btn,
.btn-outline { 
       display: inline-block;
       border-radius: $btn-radius;
       text-align: center;
       outline: none;
       margin: 3px;
}






// Buttons
// --------------------------------------------------------

// 1 - Basic button
.btn {
      color: #fff;
      background: $cl-primary;
      @include size($btn-width, $btn-height); 
      line-height: $btn-height;
      &:hover {
           background: $cl-primary-dark;
      }
}
@include color(primary, $cl-primary, $cl-primary-dark);
@include color(success, $cl-success, $cl-success-dark);
@include color(info, $cl-info, $cl-info-dark);
@include color(warning, $cl-warning, $cl-warning-dark);
@include color(danger, $cl-danger, $cl-danger-dark);
@include color(default, #fff, #f0ecec);





// 2 - Outline button
.btn-outline {
      border: solid $btn-outline-width $cl-primary;
      color: $cl-primary;
      @include size(($btn-width - $btn-outline-width*2), ($btn-height - $btn-outline-width*2));
      line-height: $btn-height - ($btn-outline-width*2);
      &:hover {
            border-color: $cl-primary-dark;
            background: $cl-primary-dark;
            color: #fff;
      }
}

@include outline-color(primary, $cl-primary, $cl-primary-dark);
@include outline-color(success, $cl-success, $cl-success-dark);
@include outline-color(info, $cl-info, $cl-info-dark);
@include outline-color(warning, $cl-warning, $cl-warning);
@include outline-color(danger, $cl-danger, $cl-danger-dark);




// Cubic Button
.btn-cube {
      border-bottom: solid 3px $cl-primary-dark;
      &:hover {
          border-top: solid 3px #fff; /* Avoid degreasing height */
          transition-property: border-bottom, background;
      }
}
@include cube-button(primary, $cl-primary-dark);
@include cube-button(success, $cl-success-dark);
@include cube-button(info, $cl-info-dark);
@include cube-button(warning, $cl-warning-dark);
@include cube-button(danger, $cl-danger-dark);








// Round Buttons
.btn-round {
    border-radius: $btn-round-radius;
}


// Edge Button
.btn-edge {
      border-radius: 0;
}


// Circle Buttons
.btn-circle {
    border-radius: 50%;
    @include size( $btn-circle-size );
}


// Wide button
.btn-wide {
      width: $btn-width-wide;
}


// Shadow Effects
.btn-float {
      box-shadow: 0 12px 10px -6px rgba(0,0,0,.3);
}
