/* New Cubic Button */


.cube {
     margin: 3px;
     display: inline-block;
     text-align: center;
     height: 47px;
     line-height: 41px;
     width: 130px;
     border-radius: 5px;
     border-top: solid 3px #FFCE54;
     border-bottom: solid 3px #F6BB42;
     background: #FFCE54;
     color: #fff;
}

.cube:hover {
}