

.dialog {
    z-index: $basic-z-index + 1;
    position: fixed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    margin-left: 6.5%;
    text-align: center; /* Centering button */
    width: 87%;
    top: 25%;
    hight: 50%;
    display: block;
    @include animation(showDialog, 0.4s ease);
    /* -- Responsible styles -- */
    @media (max-width: $disp-size-sp) {
        width: 87%;
    }
}



.dialog-title,
.dialog-msg {
    color: #333;
    text-align: center;
}





.dialog-overay {
     // Avoid scrolling dialogs
     height: 100%;
     overflow: hidden;
     // Do not rewrite opacity
     background: rgba(0, 0, 0, 0.22);
}

// DOM operation only -------------------------------------
.show-dialog {
    @include animation(showDialog, 0.4s ease);
    display: block;
}






@include keyframes(showDialog) {
      0% {
         opacity: 0.5;
         @include vendor(transform, scale3d(0, 0, 0)); /* Discarded vendor prefixes temporary*/
      }
      45% {
         @include vendor(transform, scale3d(1.05, 1.05, 0));
      }
      80% {
         @include vendor(transform, scale3d(0.95, 0.95, 0));
      }
      100% {
         opacity: 1;
         @include vendor(transform, scale3d(1, 1, 0));
     }
}



@include keyframes( closeDialog ) {
     0% {
         @include vendor(transform, scale(1));
     }
     100% {
         @include vendor(transform, scale(0));
     }
}
