/*
     SweetUIKit - Bar New
     Copyright (c) 2014-2016 Shota Shimazu
  
     This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Variables ----------------------------------
$bar-transparent-height: 55px



// Styles -------------------------------------
.bar-transparent {
     z-index: $basic-z-index;
     display: inline-block;
     @if $bar-transparent-height == none {
           @include size(100%, $bar-height);
     } @else {
           @include size(100%, $bar-transparent-height);
     }
     width: 100%;
     background: #fff;
     box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
     opacity: 0.35;
     top: 0;
}






/* ========================= */

.bar {
     z-index: 3;
     display: inline-block;
     height: 67px;
     width: 100%;
     background: #fff;
     box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
     opacity: 0.35;
     top: 0;
}
.nav-blank {
     top: 0;
     height: 67px;
     background: #fff;
}
@media screen and (max-width: 480px) {
  nav,
  .nav-blank {
     height: 55px;
  }
}
