/* SweetUiKit - Bars

    Copyright (c) 2014-2016 Shota Shimazu
    This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Variables
// --------------------------------------------------
$bar-height: 58px;

// Layer
$basic-z-index: 10;

// Brand font
$brand-font-size: 26px;
$brand-font-weight: 400px;

// Border height
$border-shadow: -2px;

// Colors
$brand-color: #fafbfc;





// Mixins
// ---------------------------------------------
@mixin color-bar($name, $color, $dark-color) {
    .bar-#{$name} {
           background: $color;
    }
}



// Base style
// ------------------------------------------------

.bar {
     @include size(100%, $bar-height);
     background: $cl-primary;
     box-shadow: inset 0px $border-shadow 3px -3px rgba(0,0,0,0.4);
}



// Bar Sizes
.bar-mini {
     height: $bar-height / 2;
}

.bar-large {
     height: $bar-height * 1.5;
}




// Colors
// --------------------------------------------------
@include color-bar(primary, $cl-primary, $cl-primary-dark);
@include color-bar(success, $cl-success, $cl-success-dark);
@include color-bar(info, $cl-info, $cl-info-dark);
@include color-bar(warning, $cl-warning, $cl-warning-dark);
@include color-bar(danger, $cl-danger, $cl-danger-dark);




// Bar Brand -------------------------------------------------
.bar-brand {
     font-weight: $brand-font-weight;
     font-size: $brand-font-size;
     line-height: $bar-height;
     text-align: center;
     color: $brand-color;
}




// Fixed Bar
.bar-fixed {
    position: fixed;
}
