/* SweetUiKit - Bars

    Copyright (c) 2014-2016 Shota Shimazu
    This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Variables
// --------------------------------------------------
$bar-height: 62px;
$bar-opacity: 0.96;

// Layer
$basic-z-index: 10;

// Brand font
$brand-font-size: 23px;

// Border height
$border-height: 1px;
$border-shadow: 3px;

// Colors
$brand-color: #fafbfc;





// Mixins
// ---------------------------------------------
@mixin color-bar($name, $color, $dark-color) {
    .bar-#{$name} {
           background: $color;
           border-color: $dark-color;
    }
}



// Base style
// ------------------------------------------------
.bar {
     z-index: $basic-z-index;
     position: relative;
     top: 0;
     @include size(100%, $bar-height);
     border-bottom: solid $border-height $cl-default-dark;
     box-shadow: $border-shadow 0 rgba(0, 0, 0, 0.46);
     background: $cl-default;
     opacity: $bar-opacity;
     @include vendor(backface-visibility, hidden);
}


// Bar Sizes
.bar-mini {
     height: $bar-height / 2;
}

.bar-large {
     height: $bar-height * 1.5;
}




// Colors
// --------------------------------------------------
@include color-bar(primary, $cl-primary, $cl-primary-dark);
@include color-bar(success, $cl-success, $cl-success-dark);
@include color-bar(info, $cl-info, $cl-info-dark);
@include color-bar(warning, $cl-warning, $cl-warning-dark);
@include color-bar(danger, $cl-danger, $cl-danger-dark);




// Bar Brand -------------------------------------------------
.bar-brand {
    height: $bar-height - 1;
    line-height: $bar-height - 1;
    color: $brand-color;
    text-align: center;
}


//+==== This classes will be replaced  by Text position classes =====
// Bar positions
.brand-right {
    text-align: right;
}

.brand-left {
    text-align: left;
}




// Fixed Bar
.bar-fixed {
    position: fixed;
}
