/* 
     SweetUIKit - v0.0.2 - Video 
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/


$player-margin: 5%;




.video-player {
       margin-left: $player-margin;
       margin-right: $player-margin;
}