
// Keyframes
// ----------------------------------------------------
@mixin keyframes($animation){
     @if $browser-webkit  {
        @-webkit-keyframes #{$animation} {
            @content;
        }
     }
     @if $browser-moz {
        @-moz-keyframes #{$animation} {
            @content;
        }
     }
     @if $browser-ms {
        @-ms-keyframes #{$animation} {
            @content;
        }
     }
     @if $browser-o {
        @-o-keyframes #{$animation} {
            @content;
        }
     }
     @keyframes #{$animation} {
         @content;
     }
}




// Media queries
// ----------------------------------------------------
@mixin media($min: none, $max: none, $width-type: none){
      @if $width-type == none {
           @if $min == none {
                @media screen and (max-width: $max) {
                       @content;
                }
          }
          @if $max == none {
                @media screen and (min-width: $min) {
                       @content;
                }
          }
          @media screen and (min-width: $min) and (max-width: $max) {
                @content;
          }
      }
      @if $width-type == device {
          @if $min == none {
                @media screen and (max-device-width: $max) {
                       @content;
                }
          }
          @if $max == none {
                @media screen and (min-device-width: $min) {
                       @content;
                }
          }
          @media screen and (min-device-width: $min) and (max-device-width: $max) {
                @content;
          }
      }
}




// -- Font face
// ------------------------------------------------------
@mixin font-face($src, $font...) {
       @font-face {
	       font-family: '#{$font}';
	       src: url(#{$src});
             @content;
        }
}
