
// Tangrams
// ---------------------------------------------------

@mixin circle($size){
      @include size($size);
      @include radius(100%);
}

@mixin square($size, $radius: default){
      @include size($size);
      @if $radius == default {
           @include radius(5px);
      } @else {
           @include radius($radius);
      }
}


@mixin rectangle($width, $height, $radius: default){
      @include size($width, $height);
      @if $radius == default {
            @include radius(5px);
      } @else {
            @include radius($radius);
      }
}
