// UI Elements
// ----------------------------------------------------


// Make Buttons --------
@mixin button-basic($selector, $height, $width, $radius) {
   #{$selector} {
         background: #fff;
         color: #fff;
         height: $height;
         line-height: $height;
         width: $width;
         // Reset style for <button> element
         @include vendor-prefix(appearance, none);
         outline: none;
         @content;
    }
}

// Make Bar
@mixin UIBar($selector, $height, $color) {
    #{$selector} {
           background: $color;
           @if $color == #fff, #ffffff {
                     color: #fff;
           } @else {
                     color: #333;
           }
           width: 100%;
           height: $height;
           border: 0;
           @content;
    }
}
