@mixin v3-selector($selector, $judge, $object) {
      @if $judge == apply {
          #{$selctor} #{$object} {
                 @content;
          }
       }
      @if $judge == apply-only {
          #{$selector} > #{$object} {
                 @content;
          }
       }
      @if $judge == without {
          #{$selector}:not(#{$object}) {
                 @content;
          }
       } @else {
          #{$selector} {
                 @content;
          }
       }
}



@mixin clearfix {
        &:after {
            content: ".";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
}






// -- Useful properties
// -----------------------------------------------------

// Size
@mixin size($width, $height : $width) {
       width: $width;
       height: $height;
}

// Border
@mixin radius($value) {
      border-radius: $value;
}

