
@mixin vendor-manual($prop, $value, $prefixes) {
     @each $prefix in $prefixes {
         @if $prefix == webkit {
             @if $browser-webkit {
                  -webkit-#{$prop}: $value;
             }
          }
         @if $prefix == moz {
              @if $browser-moz {
                   -moz-#{$prop}: $value;
               }
          }
         @if $prefix == ms {
              @if $browser-ms {
                   -ms-#{$prop}: $value;
               }
          }
         @if $prefix == o {
              @if $browser-o {
                   -o-#{$prop}: $value;
               }
          }
      }
      #{prop}: $value;
}




// Vendor Prefix
// ----------------------------------------------------
@mixin vendor($prop, $value...) {
     @if $browser-webkit {
            -webkit-#{$prop}: $value;
     }
     @if $browser-moz {
            -moz-#{$prop}: $value;
     }
     @if $browser-ms {
            -ms-#{$prop}: $value;
     }
     @if $browser-o {
            -o-#{$prop}: $value;
     }
     #{prop}: $value;
}

@mixin vendor-prop($prop, $value...) {
     @if $browser-webkit {
             #{$prop}: -webkit-#{$value};
      }
     @if $browser-moz {
             #{prop}: -moz-#{$value};
      }
     @if $browser-ms {
             #{$prop}: -ms-#{$value};
      }
     @if $browser-o {
             #{$prop}: -o-#{$value};
      }
      #{$prop}: #{$value};
}




@mixin animation($name, $value) {
      @include vendor-manual(animation, $name  $value, webkit moz ms o);
}
