// Configurations
$prefixes: -webkit-, -moz-, -ms-, '';


// Vendors ------------------------------
$browser-webkit: true; /* New Opera is webkit based. */
$browser-moz: true;
$browser-ms: true;
$browser-o: false; /* Opera legacy version */

// WebKit Browsers ----------------------
$browser-chrome: true;
$browser-safari: true;
$browser-android: true;
// NW.js & Electron Support
$app-pltfrm-electron: true;
$app-pltfrm-nwjs: true;
// WebView support
$app-webview-ios: true;
$app-webview-android: true;
$app-chromeview-android: true;

// Mozila Browsers -----------------------
$browser-firefox: true;
$browser-firefox-android: true;

// Microsoft Browsers --------------------
$browser-ie: true;

// Legacy IE support
$browser-ie10: true;
$browser-ie9: true;
$browser-ie8: false;

// Edge support
$browser-edge: true;


// Opera (Legacy version) support ------
$browser-opera: false;
