* {
    border: none; // Remove default border
}


html {
     font-size: 75%;
     @include vendor(box-sizing, border-box);
}


@font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.ttf') format('truetypes');
}