/**
   This style will be discarded.
   The new one is _core-page.scss
   Please add codes to it's file.
**/



html {
    font-family: $app-font-family;
    background-color: $app-bg-color;
}




a {
    color: #4CB6D6;
}