/* 
     Compatibility of RTL 
     There is compatibility to adapt RTL lettering.
*/

.rtl {
    direction: rtl;
}


/* 
     + Usage
        Using dir property, you can declare text direction like following.
        <div dir="rtl"> This passage will be displayed RTL.</div>
      
        [ Displayed ]
             .LTR deyalpsid eb lliw egassap sihT
*/
      


*[dir="rtl"] {
    direction: rtl;
}

*[dir="ltr"] {
    direction: ltr;
}