/*
      SweetUIKit - v0.0.6 - Experimental
      Copyright (c) 2014-2016 Shota Shimazu

      This program is freely distributed under the MIT, see LICENSE for detail.
*/
 
@mixin align($align) {
     .text-{$align} {
            align: $align;
      }
}


.text-right {
       align: right;
}
.text-left {
       align: left;
}
.text-center {
      align: center;
}