// Solutions ------------------------------------------------------------



// Avoid to appear menu when you long-tap an element or click right-button of the mouse.
html {
    @include vendor(user-touchcall, none);
    @include vendor(user-select, none);
    @include vendor(user-drag, none);
}




// The solution of the issue due to the Google map.
// If you inset Gmap to your pages, please add this class to Gmap frame.
.gmap {
   img {
       max-width: none;
   }
}
