/* 
      SweetUIKit- Typography 
      Copyright (c) 2014-2016 Shota Shimazu 

      This program is freely distributed under the MIT, see LICENSE for detail.
*/

h1 {
    font-size: 41px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22.6px;
}

h4 {
    font-size: 17.6px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.3px;
}

