// Wearable device such a Smart watch --------
// Basic size
$disp-wearable: 220px;

// Moto 360
$disp-moto-360: 218px;

// Common breakpoints -----------------------------
// Smartphones
$disp-size-sp: 480px;

// Tablet devices
$disp-size-tab: 768px;

// Laptop & normal size of display
$disp-size-desktop: 1024px;

// Large display such as 4K display
$disp-size-lg-screen: 1025px;


// TV or large display
$disp-size-tv: 2048px;






$disp-sp-min-width: 400px;
$disp-sp-max-width: 480px;

/* Larger than phablet */
$disp-phab-min-width: 550px;

/* Larger than tablet */
$disp-tab-min-width: 750px;

/* Larger than desktop */
$disp-desktop-max-width: 1024px;

/* Larger than Desktop HD */
$disp-lg-min-width: 1200px;
