// Basic Color
// --------------------------------------------------

// White Default
$cl-default: #00D2FF;
$cl-default-dark: #dbd6d6;

// Primary
$cl-primary: #69D2E7;
$cl-primary-dark: #49aee0;

// Success
$cl-success: #0ABFBC;
$cl-success-dark: #04b496;

// Info
$cl-info: #0fc36a;
$cl-info-dark: #0da65a;

// Warning
$cl-warning: #FABE28;
$cl-warning-dark: #e3cd0f;

// Danger
$cl-danger: #FC354C;
$cl-danger-dark: #d51f30;



// White

$b-cl-white: #F9F9F9;
$b-cl-white-2: #FBFBFB;
$b-cl-white-3: #F3F3F3;

// b-$cl-white-4:
// b-$cl-white-5:

// Black
$b-cl-black: #252526;
// b-$cl-black -2;
// b-$cl-black-3;





// Applications background
$app-bg-color: #f9f9f9;
