// Variables
// ----------------------------------------------------
// Layer
$basic-z-index: 10;

// Menu button
$toggle-height: 63px;
$toggle-width: 25px;

// Animation time
$animation-show: 0.15s;
$animation-close: 0.20s;

// Button layout
$trigger-button-left: 10px;






// Base style
// ------------------------------------------------

// Toggle Button
#hamburger-trigger {
    z-index: $basic-z-index + 1;
    position: relative;
    top: 15.8730159 * ($bar-height / 100);
    left: $trigger-button-left;
    height: 50px; /** Trigger area */
    width: 50px;  /** Trigger area */
    display: inline-block;
    position: relative;
    pointer-events: none;  /* Disabled click */
    border-style: none;
    background: rgba(0, 0, 0, 0);
    @include vendor(appearance, none);
}


#hamburger-trigger > span {
        display: block;
        width: $toggle-width;
        height: 3px;
        background: #fff;
        margin: 0 0 5px 0;
        border-radius: 28px;
}


.top,
.center {
    @include vendor(transform, translate(-5px,0));
}

.bottom {
    @include vendor(transform, translate(5px,0));
}







// Menu contents
.hamburger-contents {
     position: fixed;
     display: block;
     top: 0px;
     float: left;
     z-index: $basic-z-index + 2;
     height: 100%;
     width: 25%;
     box-shadow: 2px 0px 2px 2px rgba(51, 51, 51, 0.2);
     background-color: #fafbfc;
     color: #333;
     display: none;
}

// Transferred dots reset to commons.
//     list-style none  /* Remove dots */





// Open or Close navigation and apply animation
.show {
     display: block;
     @include vendor(animation, slideNav $animation-show ease);
}

.close {
     @include vendor(animation, closeNav $animation-close ease);
}






// Media quarters
// Size of navigation menu.
// Break points:
//           Smartphone: <480px
//           Tablet: <700px
@include media(none, 480px) {
    .hamburger-contents {
        width: 75%;
    }
}







// Animations
@include keyframes(slideNav) {
    0% {
        @include vendor(transform, translate3d(-250px,0px,0px));
    }
    100% {
        display: inline;
        @include vendor(transform, translate3d(0px,0px, 0px));
    }
}



@include keyframes(closeNav) {
    100% {
       @include vendor(transform, translate3d(-250px,0px,0px));
     }
    0% {
       @include vendor(transform, translate3d(0px,0px, 0px));
       display: inline;
    }
}
