/*
     SweetUIKit - v0.0.2 - Spinners
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/

// Variables
// ------------------------------------------------
$spinner-size: 28px;
$spinner-opacity: 0.9;
$spinner-animation-time: 0.7s;




// Base styles
// ------------------------------------------------
.spinner {
    width: $spinner-size;
    height: $spinner-size;
    position: relative;
    margin: 100px auto;
}


.ball,
.ball2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: $spinner-opacity;
    position: absolute;
    top: 0;
    left: 0;
    @include animation(bounce, $spinner-animation-time infinite ease-in-out);
}



.ball {
     background: #4CB6D;
}


.ball2 {
     background: #F74640;
     @include vendor(animation-delay, (-1 * $spinner-animation-time / 2));
}




@include keyframes( bounce ){
       0%, 100% {
            @include vendor(transform, scale(0.0));
       }
       50% {
            @include vendor(transform, scale(1.0));
       }
}
