/*!
 * SweetUiKit - v0.1.7 - Experimental Version
 * Copyright (c) 2014-2015 Shota Shimazu
 *
 * These contents are freely distributed under the MIT license, see LICENSE for detail.
 **/
/*
 * Overture Sass -- Developmental -- v0.1.1
 * Copyright (c) 2015 Shota Shimazu
 * This program is freely distributed under the MIT license, see LICENSE for detail.
 *
 */
/* New Opera is webkit based. */
/* Opera legacy version */
/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
  color: #000000;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
* {
  border: none;
}

html {
  font-size: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  prop: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto.ttf") format("truetypes");
}
/**
   This style will be discarded.
   The new one is _core-page.scss
   Please add codes to it's file.
**/
html {
  font-family: Sans Serif;
  background-color: #f9f9f9;
}

a {
  color: #4CB6D6;
}

/*
      SweetUIKit - v0.0.6 - Experimental
      Copyright (c) 2015 Shota Shimazu

      This program is freely distributed under the MIT, see LICENSE for detail.
*/
.text-right {
  align: right;
}

.text-left {
  align: left;
}

.text-center {
  align: center;
}

html {
  -webkit-user-touchcall: none;
  -moz-user-touchcall: none;
  -ms-user-touchcall: none;
  prop: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  prop: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  prop: none;
}

.gmap img {
  max-width: none;
}

/* 
      SweetUIKit- Typography 
      Copyright (c) 2015 Shota Shimazu 

      This program is freely distributed under the MIT, see LICENSE for detail.
*/
h1 {
  font-size: 41px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22.6px;
}

h4 {
  font-size: 17.6px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.3px;
}

/* 
     Compatibility of RTL 
     There is compatibility to adapt RTL lettering.
*/
.rtl {
  direction: rtl;
}

/* 
     + Usage
        Using dir property, you can declare text direction like following.
        <div dir="rtl"> This passage will be displayed RTL.</div>
      
        [ Displayed ]
             .LTR deyalpsid eb lliw egassap sihT
*/
*[dir="rtl"] {
  direction: rtl;
}

*[dir="ltr"] {
  direction: ltr;
}

/*
   SweetUiKit Grid System - v0.0.3

   Copyright (c) 2015 Shota Shimazu
   Licensed under the MIT, see LICENSE for detail.
*/
.container {
  overflow: hidden;
}

.row {
  display: flex;
  display: -webkit-flex;
}

/* SweetUiKit - Bars

    Copyright (c) 2015 Shota Shimazu
    This program is freely distributed under the MIT, see LICENSE for detail.
*/
.bar {
  width: 100%;
  height: 58px;
  background: #69D2E7;
  box-shadow: inset 0px -2px 3px -3px rgba(0, 0, 0, 0.4);
}

.bar-mini {
  height: 29px;
}

.bar-large {
  height: 87px;
}

.bar-primary {
  background: #69D2E7;
}

.bar-success {
  background: #0ABFBC;
}

.bar-info {
  background: #0fc36a;
}

.bar-warning {
  background: #FABE28;
}

.bar-danger {
  background: #FC354C;
}

.bar-brand {
  font-weight: 400px;
  font-size: 26px;
  line-height: 58px;
  text-align: center;
  color: #fafbfc;
}

.bar-fixed {
  position: fixed;
}

/*
     SweetUIKit - Bar transparent 
     Copyright (c) 2015 Shota Shimazu
  
     This program is freely distributed under the MIT, see LICENSE for detail.
*/
.bar-transparent {
  z-index: 10;
  display: inline-block;
  width: 100%;
  height: 55px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.6);
  opacity: 0.35;
  top: 0;
}

/* 
     SweetUIKit - v0.0.2 - Buttons
     Copyright (c) 2015 Shota Shimazu
     
     This program is freely distributed under the MIT, see LICENSE for detail:
*/
button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  prop: none;
  -webkit-appearance: none;
}

.btn,
.btn-outline {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  outline: none;
  margin: 3px;
}

.btn {
  color: #fff;
  background: #69D2E7;
  width: 143px;
  height: 47px;
  line-height: 47px;
}
.btn:hover {
  background: #49aee0;
}

.btn-primary {
  background: #69D2E7;
}
.btn-primary:hover {
  background: #49aee0;
}

.btn-success {
  background: #0ABFBC;
}
.btn-success:hover {
  background: #04b496;
}

.btn-info {
  background: #0fc36a;
}
.btn-info:hover {
  background: #0da65a;
}

.btn-warning {
  background: #FABE28;
}
.btn-warning:hover {
  background: #e3cd0f;
}

.btn-danger {
  background: #FC354C;
}
.btn-danger:hover {
  background: #d51f30;
}

.btn-default {
  background: #fff;
}
.btn-default:hover {
  background: #f0ecec;
}

.btn-outline {
  border: solid 2px #69D2E7;
  color: #69D2E7;
  width: 139px;
  height: 43px;
  line-height: 43px;
}
.btn-outline:hover {
  border-color: #49aee0;
  background: #49aee0;
  color: #fff;
}

.btn-outline-primary {
  color: #69D2E7;
  border-color: #69D2E7;
}
.btn-outline-primary:hover {
  background: #49aee0;
  border-color: #49aee0;
}

.btn-outline-success {
  color: #0ABFBC;
  border-color: #0ABFBC;
}
.btn-outline-success:hover {
  background: #04b496;
  border-color: #04b496;
}

.btn-outline-info {
  color: #0fc36a;
  border-color: #0fc36a;
}
.btn-outline-info:hover {
  background: #0da65a;
  border-color: #0da65a;
}

.btn-outline-warning {
  color: #FABE28;
  border-color: #FABE28;
}
.btn-outline-warning:hover {
  background: #FABE28;
  border-color: #FABE28;
}

.btn-outline-danger {
  color: #FC354C;
  border-color: #FC354C;
}
.btn-outline-danger:hover {
  background: #d51f30;
  border-color: #d51f30;
}

.btn-cube {
  border-bottom: solid 3px #49aee0;
}
.btn-cube:hover {
  border-top: solid 3px #fff;
  /* Avoid degreasing height */
  transition-property: border-bottom, background;
}

.btn-cube.btn-primary {
  border-bottom: solid 3px #49aee0;
}

.btn-cube.btn-success {
  border-bottom: solid 3px #04b496;
}

.btn-cube.btn-info {
  border-bottom: solid 3px #0da65a;
}

.btn-cube.btn-warning {
  border-bottom: solid 3px #e3cd0f;
}

.btn-cube.btn-danger {
  border-bottom: solid 3px #d51f30;
}

.btn-round {
  border-radius: 28px;
}

.btn-edge {
  border-radius: 0;
}

.btn-circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.btn-wide {
  width: 95%;
}

.btn-float {
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

.dialog {
  z-index: 11;
  position: fixed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-left: 6.5%;
  text-align: center;
  /* Centering button */
  width: 87%;
  top: 25%;
  hight: 50%;
  display: block;
  -webkit-animation: showDialog 0.4s ease;
  -moz-animation: showDialog 0.4s ease;
  -ms-animation: showDialog 0.4s ease;
  prop: showDialog 0.4s ease;
  /* -- Responsible styles -- */
}
@media (max-width: 480px) {
  .dialog {
    width: 87%;
  }
}

.dialog-title,
.dialog-msg {
  color: #333;
  text-align: center;
}

.dialog-overay {
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.22);
}

.show-dialog {
  -webkit-animation: showDialog 0.4s ease;
  -moz-animation: showDialog 0.4s ease;
  -ms-animation: showDialog 0.4s ease;
  prop: showDialog 0.4s ease;
  display: block;
}

@-webkit-keyframes showDialog {
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    prop: scale3d(0, 0, 0);
    /* Discarded vendor prefixes temporary*/
  }
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 0);
    -moz-transform: scale3d(1.05, 1.05, 0);
    -ms-transform: scale3d(1.05, 1.05, 0);
    prop: scale3d(1.05, 1.05, 0);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0);
    -moz-transform: scale3d(0.95, 0.95, 0);
    -ms-transform: scale3d(0.95, 0.95, 0);
    prop: scale3d(0.95, 0.95, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0);
    -moz-transform: scale3d(1, 1, 0);
    -ms-transform: scale3d(1, 1, 0);
    prop: scale3d(1, 1, 0);
  }
}
@-moz-keyframes showDialog {
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    prop: scale3d(0, 0, 0);
    /* Discarded vendor prefixes temporary*/
  }
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 0);
    -moz-transform: scale3d(1.05, 1.05, 0);
    -ms-transform: scale3d(1.05, 1.05, 0);
    prop: scale3d(1.05, 1.05, 0);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0);
    -moz-transform: scale3d(0.95, 0.95, 0);
    -ms-transform: scale3d(0.95, 0.95, 0);
    prop: scale3d(0.95, 0.95, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0);
    -moz-transform: scale3d(1, 1, 0);
    -ms-transform: scale3d(1, 1, 0);
    prop: scale3d(1, 1, 0);
  }
}
@-ms-keyframes showDialog {
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    prop: scale3d(0, 0, 0);
    /* Discarded vendor prefixes temporary*/
  }
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 0);
    -moz-transform: scale3d(1.05, 1.05, 0);
    -ms-transform: scale3d(1.05, 1.05, 0);
    prop: scale3d(1.05, 1.05, 0);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0);
    -moz-transform: scale3d(0.95, 0.95, 0);
    -ms-transform: scale3d(0.95, 0.95, 0);
    prop: scale3d(0.95, 0.95, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0);
    -moz-transform: scale3d(1, 1, 0);
    -ms-transform: scale3d(1, 1, 0);
    prop: scale3d(1, 1, 0);
  }
}
@keyframes showDialog {
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    prop: scale3d(0, 0, 0);
    /* Discarded vendor prefixes temporary*/
  }
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 0);
    -moz-transform: scale3d(1.05, 1.05, 0);
    -ms-transform: scale3d(1.05, 1.05, 0);
    prop: scale3d(1.05, 1.05, 0);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0);
    -moz-transform: scale3d(0.95, 0.95, 0);
    -ms-transform: scale3d(0.95, 0.95, 0);
    prop: scale3d(0.95, 0.95, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0);
    -moz-transform: scale3d(1, 1, 0);
    -ms-transform: scale3d(1, 1, 0);
    prop: scale3d(1, 1, 0);
  }
}
@-webkit-keyframes closeDialog {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
}
@-moz-keyframes closeDialog {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
}
@-ms-keyframes closeDialog {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
}
@keyframes closeDialog {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
}
#hamburger-trigger {
  z-index: 11;
  position: relative;
  top: 9.20635px;
  left: 10px;
  height: 50px;
  /** Trigger area */
  width: 50px;
  /** Trigger area */
  display: inline-block;
  position: relative;
  pointer-events: none;
  /* Disabled click */
  border-style: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  prop: none;
}

#hamburger-trigger > span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 0 0 5px 0;
  border-radius: 28px;
}

.top,
.center {
  -webkit-transform: translate(-5px, 0);
  -moz-transform: translate(-5px, 0);
  -ms-transform: translate(-5px, 0);
  prop: translate(-5px, 0);
}

.bottom {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  prop: translate(5px, 0);
}

.hamburger-contents {
  position: fixed;
  display: block;
  top: 0px;
  float: left;
  z-index: 12;
  height: 100%;
  width: 25%;
  box-shadow: 2px 0px 2px 2px rgba(51, 51, 51, 0.2);
  background-color: #fafbfc;
  color: #333;
  display: none;
}

.show {
  display: block;
  -webkit-animation: slideNav 0.15s ease;
  -moz-animation: slideNav 0.15s ease;
  -ms-animation: slideNav 0.15s ease;
  prop: slideNav 0.15s ease;
}

.close {
  -webkit-animation: closeNav 0.2s ease;
  -moz-animation: closeNav 0.2s ease;
  -ms-animation: closeNav 0.2s ease;
  prop: closeNav 0.2s ease;
}

@media screen and (max-width: 480px) {
  .hamburger-contents {
    width: 75%;
  }
}
@media screen and (min-width: none) and (max-width: 480px) {
  .hamburger-contents {
    width: 75%;
  }
}
@-webkit-keyframes slideNav {
  0% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  100% {
    display: inline;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
  }
}
@-moz-keyframes slideNav {
  0% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  100% {
    display: inline;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
  }
}
@-ms-keyframes slideNav {
  0% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  100% {
    display: inline;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
  }
}
@keyframes slideNav {
  0% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  100% {
    display: inline;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
  }
}
@-webkit-keyframes closeNav {
  100% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
    display: inline;
  }
}
@-moz-keyframes closeNav {
  100% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
    display: inline;
  }
}
@-ms-keyframes closeNav {
  100% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
    display: inline;
  }
}
@keyframes closeNav {
  100% {
    -webkit-transform: translate3d(-250px, 0px, 0px);
    -moz-transform: translate3d(-250px, 0px, 0px);
    -ms-transform: translate3d(-250px, 0px, 0px);
    prop: translate3d(-250px, 0px, 0px);
  }
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    prop: translate3d(0px, 0px, 0px);
    display: inline;
  }
}
/*
      SweetUIKit - v0.0.2 - Panels
      Copyright (c) 2015 Shota Shimazu

      This program is freely distributed under the MIT, see LICENSE for detail.
*/
.panel {
  text-align: center;
  border-radius: 5px;
}

.panel-title {
  padding: inherit;
}

.panel-text {
  text-align: left;
}

/*
    SweetUIKit - v0.0.2 - Audio 
    Copyright (c) 2015 Shota Shimazu

    This program is freely distributed under the MIT, see LICENSE for detail.
*/
/* 
     SweetUIKit - v0.0.2 - Video 
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/
.video-player {
  margin-left: 5%;
  margin-right: 5%;
}

/*
     SweetUIKit - v0.0.2 - Spinners
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/
.spinner {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 100px auto;
}

.ball,
.ball2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 0.7s infinite ease-in-out;
  -moz-animation: bounce 0.7s infinite ease-in-out;
  -ms-animation: bounce 0.7s infinite ease-in-out;
  prop: bounce 0.7s infinite ease-in-out;
}

.ball {
  background: #4CB6D;
}

.ball2 {
  background: #F74640;
  -webkit-animation-delay: -0.35s;
  -moz-animation-delay: -0.35s;
  -ms-animation-delay: -0.35s;
  prop: -0.35s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
}
@-moz-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
}
@-ms-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    prop: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    prop: scale(1);
  }
}
.splash {
  display: inline-block;
  background: #69D2E7;
  text-align: center;
}

/* 
     SweetUIKit - v0.0.2 - Toggle
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/
/*  
     SweetUIKit - Utilities 
     Copyright (c) 2015 Shota Shimazu

     This program is freely distributed under the MIT, see LICENSE for detail.
*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* Set default appearance 
   Ex.
        if you want to hide content,
        add code like following.
       <div aspartame="hidden">
*/
*[appearance="hidden"] {
  display: none;
}

*[appearance="visible"] {
  display: block;
}
